body{
    width: 99%;
    background-color: rgb(255, 244, 214);
}

/******   Display pages    ******/

.page{
    display: none;
}

.active{
    display: block;
}



#Home {
    width: 80%;
    margin-left: 10%;
    height: 750px;
    margin-top: 20px;
    background-color: rgb(48, 48, 48);
    border-radius: 10%;
    position: relative;
}

#Home .right_menu{
    position: absolute;
    background-color: rgb(248, 227, 169);
    display: flex;
    flex-direction: column;
    width: 16%;
    border-radius: 7%;
    height: 520px;
    top: 45px;
    left: 20px;
    padding-top: 120px;
}

#Home img {
    width: 30%;
    position: absolute;
    top: 20px;
    left: 35%;
}

#Home button{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 45%;
    font-size: 20px;
    background-color: rgb(248, 227, 169);
    border: none;
    padding: 10px;
    color: rgb(48, 48, 48);
}

#Home button:hover{
    background-color: rgb(48, 48, 48);
    color: rgb(248, 227, 169);
    border-radius: 7%;
    cursor: pointer;
}

#Home a{
    text-decoration: none; 
    color:black; 
    margin-left: 5px;
    background-color: rgb(248, 227, 169);
    border: none;
    color: rgb(48, 48, 48);
    margin: 5px;
    padding: 5px;
}

#Home a:hover{
    background-color: rgb(48, 48, 48);
    color: rgb(248, 227, 169);
    border-radius: 3%;
    cursor: pointer;
}

#Home #Log_out{
    position: absolute;
    bottom: 0px;
    margin: 0px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

#Home #Log_out2{
    position: absolute;
    top: 0px;
    margin: 0px;
    border-radius: 10px;
    color: rgb(248, 227, 169);
    cursor: default;
}

#Home #Log_out2:hover{
    color: rgb(248, 227, 169);
    background-color:rgb(248, 227, 169);
}

#Home .top_menu{
    color:rgb(248, 227, 169);
    font-size: 20px ;
    display:flex;
    flex-direction: row;
    margin-left: 20%;
    position: absolute;
    top: 45px;
    width: 75%;
    text-align: center;
}

#Home .top_menu button{
    display: none;
}

#Home .top_menu p{
    margin: 5px;
    margin-right: 5px;
    padding: 5px;
}

#Home .top_menu p:hover{
    border-bottom: 2px solid rgb(248, 227, 169);
    cursor: pointer;
}

#Home .top_menu input{  
    margin-left: 60%;
    padding-left: 10px;
    height: 30px;
    width: 200px;
    margin-top: 5px;
    background-color: rgb(255, 250, 240);
    border-radius: 5px;
    position: absolute;
    right: 0px;
}

#Home .main_body{
    position: absolute;
    top: 140px;
    border-bottom: 2px solid rgb(248, 227, 169);
    left:20%;
    width: 77%;
    height: 43%;
}

#Home .main_body h1{
    color:rgb(255, 253, 249);
}


#Home .main_body .graph{
    background-color: rgb(250, 247, 230);
    width: 96%;
    height: 200px;
    margin-left: 2%;
    border-radius: 10px;
}

#Home .main_body .graph img {
    height: 200px;
}

#Home .main_body .chart {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

#Home .main_body .canvas__mirror {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; 
  }

#Home .main_body #btn-download,#Home .main_body #btn-download-svg {
    position: absolute;
    font-size: 17px;
    color:rgb(17, 17, 17);
    text-decoration: none;
    background-color:rgb(248, 227, 169);
    margin: 20px;
    padding: 5px;
    bottom: -20px;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#Home .main_body #btn-download-svg {
    left:150px;
}

#Home .main_body #btn-download:hover,#Home .main_body #btn-download-svg:hover{
    background-color: rgb(48, 48, 48);
    color: rgb(248, 227, 169);
    border: 1.5px solid rgb(248, 227, 169);
    border-bottom: 0px;
}

#Home .Top_genre{
    position: absolute;
    background-color: rgb(241, 160, 112);
    width: 45%;
    bottom: 70px;
    left: 20%;
    height: 200px;
    border-radius: 10px;
}

#Home .groups{
    position: absolute;
    background-color: rgb(248, 246, 221);
    width: 28%;
    bottom: 70px;
    left: 68%;
    height: 200px;
    border-radius: 10px;
}

#Home .groups .title{
    font-size: 20px;
    color: rgb(48, 48, 48);;
}

.title i{
    margin: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.title .fas.fa-ellipsis-h{
    color: rgb(48, 48, 48);
    float: right;
    margin-right: 20px;
}

.list_of_groups{
    background-color: rgb(180, 180, 180);
    height: 70%;
    overflow: scroll;
}

#Home .groups .group{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group p{
    margin: 5px;
    font-size: 17px;
}

.group .group_right{
    position: absolute;
    right: 10px;
    margin: 8px;
}


/****** Media ******/

@media only screen and (max-width: 900px) {
    #Home .top_menu p{
        font-size: 22px;
    }

    #Home .top_menu input{
        margin-top: 50px;
        width: 95%;
        margin-right: 10px;
    }
}


@media only screen and (max-width: 768px) {

    #Home .right_menu {
        display: none;
    }

    #Home .top_menu button{
        display: block;
        position: absolute;
        right: 0;
        top:-30px;
        opacity: 1;
        padding: 0;
        margin: 5px;
        font-size: 20px;
        width: 20px;
        border-radius: 3px;
    }

    #Home .top_menu .menu_hidden:hover{
        opacity: 1;
        cursor: pointer;
    }   


    #Home .main_body{
        width: 90%;
        left:5%
    }

    #Home .top_menu{
       margin-left: 5%;
       width: 90%; 
    }

    #Home .Top_genre{
        width: 50%;
        left:5%;
    }

    #Home .groups{
        width: 35%;
        left:60%;
    }
}


@media only screen and (max-width: 512px) {
    #Home .top_menu{
        margin-left: 0;
    }

    #Home .top_menu p{
        font-size: 20px;
    }

    #Home .top_menu input{
        margin-right: 0;
        right:-10px;
    }

    #Home .main_body #btn-download,
    #Home .main_body #btn-download-svg{
        font-size: 13px;
    }

    #Home .groups{
        width: 41%;
        left:57%;
    }

    #Home .groups .title{
        font-size: 13px;
    }

    #Home .groups .group_right input{
        margin: 0px;
    }
}

@media only screen and (max-width: 375px) {
    #Home .main_body #btn-download,
    #Home .main_body #btn-download-svg{
        font-size: 10px;
    }

    #Home .top_menu p{
        font-size: 15px;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

