body{
    width: 99%;
    background-color: rgb(255, 244, 214);
}

/******   Display pages    ******/

.page{
    display: none;
}

.active{
    display: block;
}

#Menu {
    width: 80%;
    margin-left: 10%;
    height: 750px;
    margin-top: 20px;
    background-color: rgb(48, 48, 48);
    border-radius: 10%;
    position: relative;
}

#Menu .right_menu{
    position: absolute;
    background-color: rgb(248, 227, 169);
    width: 90%;
    border-radius: 7%;
    height: 520px;
    top: 45px;
    margin-left: 5%;
    padding-top: 120px;
}

#Menu .right_menu a{
    text-decoration: none;
    color:rgb(48, 48, 48);
    cursor: pointer;
    left:100px;
    padding: 10px;
}

#Menu .right_menu a:hover{
    text-decoration: none;
    color:rgb(248, 227, 169);
    cursor: pointer;
    left:100px;
    background-color: rgb(48, 48, 48);
}

#Menu img {
    max-width: 137px;
    position: absolute;
    top: 20px;
    margin-left: 37%;
}

#Menu button{
    margin-bottom: 10px;
    margin-top: 40px;
    width: 50%;
    font-size: 25px;
    background-color: rgb(248, 227, 169);
    border: none;
    padding: 10px;
    color: rgb(48, 48, 48);
}

#Menu button:hover{
    background-color: rgb(48, 48, 48);
    color: rgb(248, 227, 169);
    border-radius: 7%;
    cursor: pointer;
}

#Menu #Log_out{
    border-radius: 10px;
    cursor: pointer;
}

#Menu #home_button{
    display: block;
    position: absolute;
    right: 0;
    top:-30px;
    opacity: 1;
    padding: 0;
    margin: 5px;
    font-size: 20px;
    width: 20px;
    border-radius: 3px;
}

#Menu #home_button:hover{
    opacity: 1;
    cursor: pointer;
} 


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }